@import '../App.scss';
// h1 { text-align: center; }

.details {
    height: 100%;
    display: grid;
    grid-template-columns: 300px 1fr;
    gap: 30px;
    place-items: center;
    @media (max-width: 650px) {
        grid-template-columns: 1fr;
        gap: 0;
    }
    
    img {
        border-radius: 5%;
        height: auto;
        width: auto;
        max-width: 270px;
        max-height: 270px;
        opacity: .8;
        box-shadow: 0 0 10px -2px #ffffff;

        &:hover {
            box-shadow: 0 0 10px -2.5px #ffffff;           
            transform: scale(99.5%);
        }
    }

    h3 {
        background: linear-gradient(
          to right,
          $pink 10%,
          $yellow 50%,
          $red 60%
        );
        background-size: auto auto;
        background-clip: border-box;
        background-size: 200% auto;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        opacity: 1;
        line-height: 1.9;
        padding-top: 0;
        font-size: 18px;
    }
}