@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@200;400;700&family=Rubik:wght@300;400;600&display=swap");
html,
body {
  height: 100vw;
  padding: 0;
  margin: 0;
  background: #141414;
  color: #fff;
  font-family: 'Assistant', sans-serif;
  font-family: 'Rubik', sans-serif;
}

h1 {
  font-weight: 500;
}

h2 {
  font-weight: 400;
}

h3 {
  font-weight: 400;
}

h4 {
  font-weight: 300;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: #494949;
}

.container {
  height: 100%;
  width: 100%;
  margin: 0 auto;
}

.container .wrapper {
  height: 100%;
  padding: 0 65px;
}

@media (max-width: 650px) {
  .container .wrapper {
    padding: 0 25px;
  }
}

.container .wrapper .home {
  height: 100%;
  width: 100%;
}

.container .wrapper .home p {
  font-size: 0.75rem;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  font-weight: 500;
}

.home-container {
  width: 100%;
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.text-container {
  position: relative;
  margin-top: -130px;
  width: 100%;
  text-align: center;
}

.text-container h1.line-1 {
  font-size: auto;
  padding-bottom: 0.5em;
  display: inline-block;
  white-space: nowrap;
  opacity: 1;
}

.text-container h3 {
  width: 80%;
  line-height: 2;
  -webkit-animation: textclip 7s 2s linear infinite;
          animation: textclip 7s 2s linear infinite;
}

.text-container .line-1 {
  margin: 0;
  background: -webkit-gradient(linear, left top, right top, color-stop(10%, #cf57f0), color-stop(50%, #fcc653), color-stop(60%, #f74949));
  background: linear-gradient(to right, #cf57f0 10%, #fcc653 50%, #f74949 60%);
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 1;
  position: relative;
  display: inline-block;
  overflow: hidden;
}

@media (max-width: 650px) {
  .text-container .line-1 {
    font-size: 22px;
  }
}

.text-container .anim-typewriter {
  -webkit-animation: blinkTextCursor 500ms steps(30) 30 normal, typewriter 3s steps(30) 1 normal both;
          animation: blinkTextCursor 500ms steps(30) 30 normal, typewriter 3s steps(30) 1 normal both;
}

.buttons {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.buttons #github {
  fill: #cf57f073;
  height: 55px;
  width: 55px;
}

.buttons #codepen {
  fill: #fcc65373;
  height: 57px;
  width: 57px;
}

.buttons #facebook {
  fill: #f7494975;
  height: 60px;
  width: 60px;
}

.buttons #linkedin {
  fill: #2abd4a70;
  height: 50px;
  width: 50px;
}

.buttons #github:hover, .buttons #codepen:hover, .buttons #facebook:hover, .buttons #linkedin:hover {
  fill: #fff;
}

@-webkit-keyframes textclip {
  from {
    background-position: 200% center;
    opacity: 1;
  }
  to {
    opacity: 1;
  }
}

@keyframes textclip {
  from {
    background-position: 200% center;
    opacity: 1;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 100%;
    border: none;
  }
}

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 100%;
    border: none;
  }
}

@-webkit-keyframes blinkTextCursor {
  from {
    border-right: 2px solid rgba(255, 255, 255, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}

@keyframes blinkTextCursor {
  from {
    border-right: 2px solid rgba(255, 255, 255, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}
/*# sourceMappingURL=Home.css.map */