@import '../App.scss';
.Carousel {
    width: 80%;
    overflow: hidden;
    height: 100vh;
    transform: translateY(-7%);
    position: relative;
    margin: 0 auto;
    @media (max-width: 380px) {
        width: 100%;
    }

    #github, #open, #codepen, #facebook {
        fill: $yellow;
    }
}
