@import '../App.scss';
.Carousel {
    width: 80%;
    height: 100vh;
    margin: 0 auto;
    position: relative;
    @media (max-width: 380px) {
        transform: translateY(40%);
        height: 100vw;
        width: 180%;
    }

    #github, #open, #codepen, #facebook {
        fill: $yellow;
    }
}
