.background {
  position: absolute;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.background span {
  width: 20vmin;
  height: 20vmin;
  border-radius: 20vmin;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  position: absolute;
  -webkit-animation-name: move;
          animation-name: move;
  -webkit-animation-duration: 6s;
          animation-duration: 6s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.background span:nth-child(1) {
  color: #570f0fc4;
  top: 57%;
  left: 45%;
  -webkit-animation-duration: 10.3s;
          animation-duration: 10.3s;
  -webkit-animation-delay: -12.7s;
          animation-delay: -12.7s;
  -webkit-transform-origin: 7vw 21vh;
          transform-origin: 7vw 21vh;
  -webkit-box-shadow: 40vmin 0 10.25768vmin currentColor;
          box-shadow: 40vmin 0 10.25768vmin currentColor;
}

.background span:nth-child(2) {
  color: #451452c0;
  top: 74%;
  left: 94%;
  -webkit-animation-duration: 15s;
          animation-duration: 15s;
  -webkit-animation-delay: -10.9s;
          animation-delay: -10.9s;
  -webkit-transform-origin: 9vw -4vh;
          transform-origin: 9vw -4vh;
  -webkit-box-shadow: 40vmin 0 5.67997vmin currentColor;
          box-shadow: 40vmin 0 5.67997vmin currentColor;
}

.background span:nth-child(3) {
  color: #451452c0;
  top: 54%;
  left: 15%;
  -webkit-animation-duration: 12.2s;
          animation-duration: 12.2s;
  -webkit-animation-delay: -6.9s;
          animation-delay: -6.9s;
  -webkit-transform-origin: -15vw 9vh;
          transform-origin: -15vw 9vh;
  -webkit-box-shadow: 40vmin 0 13.11696vmin currentColor;
          box-shadow: 40vmin 0 13.11696vmin currentColor;
}

.background span:nth-child(4) {
  color: #570f0fc4;
  top: 69%;
  left: 85%;
  -webkit-animation-duration: 11.7s;
          animation-duration: 11.7s;
  -webkit-animation-delay: -3.5s;
          animation-delay: -3.5s;
  -webkit-transform-origin: 13vw -16vh;
          transform-origin: 13vw -16vh;
  -webkit-box-shadow: 40vmin 0 6.61401vmin currentColor;
          box-shadow: 40vmin 0 6.61401vmin currentColor;
}

.background span:nth-child(5) {
  color: #451452c0;
  top: 74%;
  left: 18%;
  -webkit-animation-duration: 15s;
          animation-duration: 15s;
  -webkit-animation-delay: -1.5s;
          animation-delay: -1.5s;
  -webkit-transform-origin: -18vw 13vh;
          transform-origin: -18vw 13vh;
  -webkit-box-shadow: 40vmin 0 12.51954vmin currentColor;
          box-shadow: 40vmin 0 12.51954vmin currentColor;
}

.background span:nth-child(6) {
  color: #570f0fc4;
  top: 16%;
  left: 69%;
  -webkit-animation-duration: 13.2s;
          animation-duration: 13.2s;
  -webkit-animation-delay: -7.5s;
          animation-delay: -7.5s;
  -webkit-transform-origin: -8vw 18vh;
          transform-origin: -8vw 18vh;
  -webkit-box-shadow: 40vmin 0 12.1408vmin currentColor;
          box-shadow: 40vmin 0 12.1408vmin currentColor;
}

.background span:nth-child(7) {
  color: #614813c0;
  top: 25%;
  left: 83%;
  -webkit-animation-duration: 10.9s;
          animation-duration: 10.9s;
  -webkit-animation-delay: -5.9s;
          animation-delay: -5.9s;
  -webkit-transform-origin: -20vw -16vh;
          transform-origin: -20vw -16vh;
  -webkit-box-shadow: -40vmin 0 9.53247vmin currentColor;
          box-shadow: -40vmin 0 9.53247vmin currentColor;
}

.background span:nth-child(8) {
  color: #451452c0;
  top: 98%;
  left: 18%;
  -webkit-animation-duration: 10.4s;
          animation-duration: 10.4s;
  -webkit-animation-delay: -10.8s;
          animation-delay: -10.8s;
  -webkit-transform-origin: -24vw -2vh;
          transform-origin: -24vw -2vh;
  -webkit-box-shadow: -40vmin 0 8.63869vmin currentColor;
          box-shadow: -40vmin 0 8.63869vmin currentColor;
}

.background span:nth-child(9) {
  color: #614813c0;
  top: 70%;
  left: 52%;
  -webkit-animation-duration: 14.8s;
          animation-duration: 14.8s;
  -webkit-animation-delay: -10.2s;
          animation-delay: -10.2s;
  -webkit-transform-origin: 25vw -10vh;
          transform-origin: 25vw -10vh;
  -webkit-box-shadow: 40vmin 0 5.94077vmin currentColor;
          box-shadow: 40vmin 0 5.94077vmin currentColor;
}

.background span:nth-child(10) {
  color: #570f0fc4;
  top: 66%;
  left: 97%;
  -webkit-animation-duration: 13.1s;
          animation-duration: 13.1s;
  -webkit-animation-delay: -7.1s;
          animation-delay: -7.1s;
  -webkit-transform-origin: 3vw 14vh;
          transform-origin: 3vw 14vh;
  -webkit-box-shadow: -40vmin 0 8.25905vmin currentColor;
          box-shadow: -40vmin 0 8.25905vmin currentColor;
}

.background span:nth-child(11) {
  color: #614813c0;
  top: 34%;
  left: 89%;
  -webkit-animation-duration: 10.1s;
          animation-duration: 10.1s;
  -webkit-animation-delay: -14.4s;
          animation-delay: -14.4s;
  -webkit-transform-origin: -17vw -11vh;
          transform-origin: -17vw -11vh;
  -webkit-box-shadow: -40vmin 0 5.69718vmin currentColor;
          box-shadow: -40vmin 0 5.69718vmin currentColor;
}

.background span:nth-child(12) {
  color: #614813c0;
  top: 20%;
  left: 91%;
  -webkit-animation-duration: 14.5s;
          animation-duration: 14.5s;
  -webkit-animation-delay: -3.8s;
          animation-delay: -3.8s;
  -webkit-transform-origin: -15vw -2vh;
          transform-origin: -15vw -2vh;
  -webkit-box-shadow: 40vmin 0 14.79816vmin currentColor;
          box-shadow: 40vmin 0 14.79816vmin currentColor;
}

.background span:nth-child(13) {
  color: #570f0fc4;
  top: 29%;
  left: 97%;
  -webkit-animation-duration: 14.2s;
          animation-duration: 14.2s;
  -webkit-animation-delay: -3.1s;
          animation-delay: -3.1s;
  -webkit-transform-origin: -20vw 20vh;
          transform-origin: -20vw 20vh;
  -webkit-box-shadow: 40vmin 0 6.30321vmin currentColor;
          box-shadow: 40vmin 0 6.30321vmin currentColor;
}

.background span:nth-child(14) {
  color: #451452c0;
  top: 47%;
  left: 47%;
  -webkit-animation-duration: 12.3s;
          animation-duration: 12.3s;
  -webkit-animation-delay: -3.5s;
          animation-delay: -3.5s;
  -webkit-transform-origin: -9vw -5vh;
          transform-origin: -9vw -5vh;
  -webkit-box-shadow: 40vmin 0 11.31859vmin currentColor;
          box-shadow: 40vmin 0 11.31859vmin currentColor;
}

.background span:nth-child(15) {
  color: #614813c0;
  top: 57%;
  left: 78%;
  -webkit-animation-duration: 12s;
          animation-duration: 12s;
  -webkit-animation-delay: -6.7s;
          animation-delay: -6.7s;
  -webkit-transform-origin: 16vw -20vh;
          transform-origin: 16vw -20vh;
  -webkit-box-shadow: 40vmin 0 5.88962vmin currentColor;
          box-shadow: 40vmin 0 5.88962vmin currentColor;
}

.background span:nth-child(16) {
  color: #451452c0;
  top: 34%;
  left: 71%;
  -webkit-animation-duration: 10.1s;
          animation-duration: 10.1s;
  -webkit-animation-delay: -6.4s;
          animation-delay: -6.4s;
  -webkit-transform-origin: -12vw -7vh;
          transform-origin: -12vw -7vh;
  -webkit-box-shadow: 40vmin 0 6.38511vmin currentColor;
          box-shadow: 40vmin 0 6.38511vmin currentColor;
}

.background span:nth-child(17) {
  color: #451452c0;
  top: 46%;
  left: 28%;
  -webkit-animation-duration: 10.8s;
          animation-duration: 10.8s;
  -webkit-animation-delay: -9s;
          animation-delay: -9s;
  -webkit-transform-origin: -1vw 21vh;
          transform-origin: -1vw 21vh;
  -webkit-box-shadow: 40vmin 0 12.70836vmin currentColor;
          box-shadow: 40vmin 0 12.70836vmin currentColor;
}

.background span:nth-child(18) {
  color: #570f0fc4;
  top: 8%;
  left: 53%;
  -webkit-animation-duration: 11.2s;
          animation-duration: 11.2s;
  -webkit-animation-delay: -0.9s;
          animation-delay: -0.9s;
  -webkit-transform-origin: -23vw -5vh;
          transform-origin: -23vw -5vh;
  -webkit-box-shadow: 40vmin 0 12.88833vmin currentColor;
          box-shadow: 40vmin 0 12.88833vmin currentColor;
}

.background span:nth-child(19) {
  color: #451452c0;
  top: 88%;
  left: 62%;
  -webkit-animation-duration: 13.6s;
          animation-duration: 13.6s;
  -webkit-animation-delay: -2s;
          animation-delay: -2s;
  -webkit-transform-origin: 13vw -18vh;
          transform-origin: 13vw -18vh;
  -webkit-box-shadow: 40vmin 0 13.71699vmin currentColor;
          box-shadow: 40vmin 0 13.71699vmin currentColor;
}

.background span:nth-child(20) {
  color: #570f0fc4;
  top: 26%;
  left: 29%;
  -webkit-animation-duration: 10.5s;
          animation-duration: 10.5s;
  -webkit-animation-delay: -3.5s;
          animation-delay: -3.5s;
  -webkit-transform-origin: 14vw -8vh;
          transform-origin: 14vw -8vh;
  -webkit-box-shadow: -40vmin 0 14.5297vmin currentColor;
          box-shadow: -40vmin 0 14.5297vmin currentColor;
}

@-webkit-keyframes move {
  100% {
    -webkit-transform: translate3d(0, 0, 1px) rotate(360deg);
            transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}

@keyframes move {
  100% {
    -webkit-transform: translate3d(0, 0, 1px) rotate(360deg);
            transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}
/*# sourceMappingURL=Background.css.map */