@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@200;400;700&family=Rubik:wght@300;400;600&display=swap");
html,
body {
  height: 100vw;
  padding: 0;
  margin: 0;
  background: #141414;
  color: #fff;
  font-family: 'Assistant', sans-serif;
  font-family: 'Rubik', sans-serif;
}

h1 {
  font-weight: 500;
}

h2 {
  font-weight: 400;
}

h3 {
  font-weight: 400;
}

h4 {
  font-weight: 300;
}

.container {
  height: 100%;
  width: 100%;
  margin: 0 auto;
}

.container .wrapper {
  height: 100%;
  padding: 0 65px;
}

@media (max-width: 650px) {
  .container .wrapper {
    padding: 0 25px;
  }
}

.container .wrapper .home {
  height: 100%;
  width: 100%;
}

.container .wrapper .home p {
  font-size: 0.75rem;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  font-weight: 500;
}

header {
  position: relative;
  height: 80px;
}

header .inner-header {
  background: #20202060;
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  -webkit-box-shadow: 10px 0 5px #3838387e;
          box-shadow: 10px 0 5px #3838387e;
  overflow: hidden;
  position: absolute;
  padding: 0 65px;
  width: 100%;
  height: 100%;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 650px) {
  header .inner-header {
    padding: 0 25px;
  }
}

header .hamburger-menu {
  display: none;
  z-index: 9;
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  height: 100%;
  width: 100%;
}

header .hamburger-menu .menu-secondary-background-color {
  background: #191919;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: -1;
}

header .hamburger-menu .menu-layer {
  position: relative;
  background: #136899;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

header .hamburger-menu .menu-layer .menu-city-background {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-animation-name: backgroundEffect;
          animation-name: backgroundEffect;
  -webkit-animation-duration: 30s;
          animation-duration: 30s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

header .hamburger-menu .menu-layer .wrapper {
  position: relative;
}

header .hamburger-menu .menu-layer .wrapper .menu-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  top: 150px;
}

@media screen and (max-width: 800px) {
  header .hamburger-menu .menu-layer .wrapper .menu-links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

header .hamburger-menu .menu-layer .wrapper .menu-links nav {
  display: block;
}

header .hamburger-menu .menu-layer .wrapper .menu-links nav ul {
  margin: 0;
  padding: 0;
}

header .hamburger-menu .menu-layer .wrapper .menu-links nav ul li {
  list-style: none;
  font-size: 3rem;
  font-weight: 500;
  cursor: pointer;
  height: 135px;
  position: relative;
  width: auto;
}

header .hamburger-menu .menu-layer .wrapper .menu-links nav ul li a {
  color: #fff;
  text-decoration: none;
}

header .hamburger-menu .menu-layer .wrapper .menu-links nav ul li a:hover {
  color: #191919;
}

header .hamburger-menu .menu-layer .wrapper .menu-links .info {
  color: #fff;
  width: 300px;
}

header .hamburger-menu .menu-layer .wrapper .menu-links .info h3 {
  font-size: 1.2rem;
  margin: 8px auto;
}

header .hamburger-menu .menu-layer .wrapper .menu-links .info p {
  margin: 0 auto;
  font-size: 0.8rem;
}

header .hamburger-menu .menu-layer .wrapper .locations {
  position: absolute;
  bottom: -80px;
  color: #fff;
  margin-top: 16px;
  font-size: 0.8rem;
  font-weight: 600;
}

header .hamburger-menu .menu-layer .wrapper .locations span {
  cursor: pointer;
  font-weight: 400;
  margin: 0 32px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

header .hamburger-menu .menu-layer .wrapper .locations span:first-child {
  margin-left: 64px;
}

header .hamburger-menu .menu-layer .wrapper .locations span:hover {
  color: #fff;
  background: #191919;
  padding: 8px 24px;
  border-radius: 4px;
}

@-webkit-keyframes backgroundEffect {
  0% {
    background-position: 0% 0%;
  }
  25% {
    background-position: 40% 10%;
  }
  50% {
    background-position: 0 10%;
  }
  75% {
    background-position: 10% 40%;
  }
  100% {
    background-position: 0% 0%;
  }
}

@keyframes backgroundEffect {
  0% {
    background-position: 0% 0%;
  }
  25% {
    background-position: 40% 10%;
  }
  50% {
    background-position: 0 10%;
  }
  75% {
    background-position: 10% 40%;
  }
  100% {
    background-position: 0% 0%;
  }
}
/*# sourceMappingURL=App.css.map */