@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200;400;700&family=Rubik:wght@300;400;600&display=swap');

// colors:
$pink: #cf57f0;
$yellow: #fcc653;
$red: #f74949;
$green: #2abd4a;

html,
body {
  height: 100vw;
  padding: 0;
  margin: 0;
  background: #141414;
  color: #fff;
  font-family: 'Assistant', sans-serif;
  font-family: 'Rubik', sans-serif;
}

h1 { font-weight: 500; }
h2 { font-weight: 400; }
h3 { font-weight: 400; }
h4 { font-weight: 300; }

a {
  color: #fff;
  text-decoration: none;

  &:hover {
    color: #494949;
  }
}

.container {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  
  .wrapper {
    height: 100%;
    padding: 0 65px;
    @media (max-width: 650px) {
      padding: 0 25px;
    }
    
    .home {
      height: 100%;
      width: 100%;

      p {
        font-size: 0.75rem;
        letter-spacing: 0.3rem;
        text-transform: uppercase;
        font-weight: 500;
      }
    }
  }
}